



/* Google fonts & font family
==================================================*/

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: black;
    z-index: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px;
}

.h-10 {
    height: 10px;
}

.color {
    color: #800;
    font-size: 11px;
}

body {
  
  max-width: 100%;
  min-width: 0%;
}

@media screen (max-width: 1044px) { 
    body img {
  
        width: 100%;
  }
}


/* typography
==================================================*/

h1 {
    color: #000;
    text-transform: uppercase;
}

h3 {
    color: #393939;
}

h5 {
    color: #800;
}
/* VIDEOS */

@media screen and (min-width: 147px) {
  
  iframe {
  
    height: 200px;
    width: 100px;
  }
  
}

@media screen and (min-width: 1000px) {
  
  
  iframe {
    
    height: 800px;
    width: 1000px;
    
  }
  
  
}

/* MAP */

@media screen and (min-width: 720px) {
  
  #admap {
    
        height: 400px;
        width: 80%;
        margin-left: 8%;
  }
  
}


@media screen and (min-width: 147px) {
  
#admap {
    
  border: 0;

    
  }

}
/* IMAGES */
@media screen (min-width: 147px) {
  
.imgsizing1000 {
  height: 30%;
  width: 100%;
}

.imgresizing {
  height: 30%;
  width: 100%;
  }
  
}





@media screen and (min-width: 147px) {
  
.imgsizing1000 {
  height: 600px;
  width: 1000px;
}

.imgresizing {
  height: 300px;
  width: 500px;
  }
}



.imgsizing1920 {
    height: 800px;
    width: 1200px;
}





.imagealignments {
  
 align-items: center;
  
}

/** IMAGE BORDERS **/

.imgboard {
  
  border: 12px groove #800;
  
}
/* Fixing the smaller screen homepage images */

.theinterviewer {
  
  width: 100%;
  height: 300px;
  
}

@media screen and (min-width: 147px) {
  
  
.trophyhistory {
      padding-top: 40px;
      height: 400px;
      width: 950px;
  }
  #blankness {
    
    width: 0%;
    height: 0%;
    
  }
  #MAHSYARD {
    
    width: 100%;
  }
}



/* TOPIC IN FRAME */

@media screen and (min-width: 147px) {
    
  
@import url('http://fonts.googleapis.com/css?family=Parisienne|Playball');

.frame {
    
  margin:50px auto;
  border:15px solid #222;
  height:475px;
  width:350px;
  -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
  transition-duration: infinite;
  margin-top: 12%;
  z-index: 10;
  margin-top: 10%;
}



.border {
  height:100%;
  width:100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .4);
  z-index: 10;
  background: white;
}
  


.image img {
  
  position:relative;
  height:350px;
  width:150px;
  margin-top: 40px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
  border:2px inset #c9c9c9;
  z-index: 0; 
    }
  
  
}



@media screen and (min-width: 147px) {
  
 
  
  @import url('http://fonts.googleapis.com/css?family=Parisienne|Playball');
  
  
  .frame {
  border:15px solid #222;
  height:475px;
  width: 350px;
  -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
  transition-duration: infinite;
    margin-top: 10%;
}



.border {
  background:white;
  height:100%;
  width:100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .4);
}


.image img {
  
  position: relative;
  height:400px;
  width:200px;
  margin-top: 20px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
  border:2px inset #c9c9c9;
  z-index: 0;
}

 
}


/* HEADER
==================================================*/

.box-header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .96);
  
    width: 100%;
    z-index: 1000;
    box-shadow: 0 .25em 0 0 black;
  margin-bottom: 10%;
}
.box-header {
    background: #800;
}

@media screen and (min-width: 1044px) {
 
 

}
.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


  
.box-logo {
    display: block;
    padding: 20px 0px 0px 30px;
    z-index: 101;
    margin-bottom: 0%;
    
  }


/* BAR NAV */

@media screen and (max-width: 587px) {
  
  
.barnav {
    
    
  }
  
}
/* HOME PAGE 147+ */

@media screen and (min-width: 147px) and (max-width: 769px) {
  
  .imgresizing {
    
  width: 100%;
  height: 500px;
  }  
  
  .imgsizing1000 {
    width: 100%;

    
  }
  #blankness {
    
    display: none;
  }
  
  .realnavtop {
    

    color: #000;
    list-style: none;
  }
  
  .realnavtop a:hover {
    
    color: #fff;
  }
  
  

  
    
  @import url('http://fonts.googleapis.com/css?family=Parisienne|Playball');
  
  
  .frame {
  border:15px solid #222;
  height:375px;
  width: 200px;
  -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
  transition-duration: infinite;
    margin-top: 10%;
}



.border {
  background: white;
  height:100%;
  width:100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .4);
}


.image img {
  
  position: relative;
  height:350px;
  width: 150px;
  margin-top: 20px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
  border:2px inset #c9c9c9;
  z-index: 0;
  }
  


  
}
/* HOME PAGE MEDIA 769-1019 */
@media screen and (min-width: 769px) and (max-width: 1019px) {
 .madtitle {
    
    font-size: 2.25em;
    text-align: center;
    z-index: 100000;
    color: #000;
    
  }
  
  #alignthewords {
    
    font-size: .5em;
  }  
  
  
  
  #blankness {
    
    display: none;
  }
  
  .imgresizing {
    
    
    width: 500px;
    height: 300px;
  }
  .montagevid {
    
  width: 450px;
  height: 400px;  
  
  }
  h3 {
    
    color: #000;
    
  }
  .frame {
  border:15px solid #222;
  height:475px;
  width: 350px;
  -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
  transition-duration: infinite;
    margin-top: 10%;
}



.border {
  background: white;
  height:100%;
  width:100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .4);
}


.image img {
  
  position: relative;
  height:350px;
  width: 150px;
  margin-top: 20px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
  border:2px inset #c9c9c9;
  z-index: 0;
  }
  .testimage {
    
    width: 200px;
    height: 200px;
    border: 2px solid black;
  }
  footer {
  
   text-align: center;
   width: 100%;
  list-style: none;
    background-color: #e6e6e6;
    background: -webkit-linear-gradient(white,#e6e6e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #e6e6e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #e6e6e6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #e6e6e6);
}

.Bottomcontainer {
  
  color: black;
  width: 100%;
  background-color: #800;
  border-top: .5em solid #cc0000;
  
}

.Bottomcontainer a {
  color: #000;  
}

.Bottomcontainer a:hover {
  
  
  background: #fff;
  text-decoration: none;
  opacity: 1;
  border: 2px solid #000;
}
  
  .mediaevent {
    
    text-align: center;
    
  }
  
  .medialearn {
    
    float: right;
   
  }

.copyright {
  
    color: black;
    margin-bottom: 0;
    padding: 0 0 2em 0;
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

footer img {
    margin: 0 auto;
}

footer a  {
  color: #800;

}

u {
  
  text-decoration: underline #000;

  
}


hr {
  
  
  border-top: 3px double #888;
  
  }
}



/***** END 769-1019 ***/

/* Nav top */

@media screen and (min-width: 147px) {
  
.realnavtop {
    font-size: 18px;
    width: 100%;
    display: inline-block;
    
    white-space: no-wrap;
  }
.realnavtop li {
    
  display: inline-block;  

    
  }  
  
  .realnavtop a {
    
    color: #000;
  }
  
  .realnavtop a:hover {
  color: #fff;
    
  }
.navtop {
    position: relative;
    display: inline-block;
    font-size: 18px;

}

.navtop-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
}

.navtop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  .navtop-content a:hover {
    
    background-color: #800;
    color: #fff;
    
  }
.navtop:hover .navtop-content {
    display: block;
}
  .navalign {
    
    display: inline;
    
  }
    .navalign li {
    margin-right: 5%;
  }
  
  .navalign ul {
    
    width: 30%;
    display: block;
    
  }

 
}
/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 20%;
  width: 100%;
    margin: 0;
  margin-top: 5%;
}
  @media screen and (min-width: 147px) {
  
  .box-intro {
    
 margin-top: 30%;
      background: #800; /* No SUPPORT */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),#800); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),#800); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),#800); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0),#800); /*Standard*/
  }
  
  
  
}
  
  @media screen and (min-width: 587px) {

    .box-intro {

      margin-top: 5%;
      background: #800; /* No SUPPORT */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),#800); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),#800); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,#800, rgba(255,0,0,0) 20%,#800); /*Fx 3.6-15*/
  background: linear-gradient(to right, #800 , rgba(255,0,0,0),#800); /*Standard*/

    
  }

}


.box-intro em {
    font-style: normal;
    text-transform: uppercase;
}



.box-intro h1 {
  
  
  
  
}
.box-intro h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
}




  .portfolio-div img {
    
    width: 100%;
    
    
  }



/********* Super Quiz ********/

@media screen and (min-width: 147px) {
.superquizzes {
  width: 100%; 
  
  }

}


/*********  Friendships ********/
@media screen and (min-width: 147x) {
.friendships {
  width:100%;
    
  }
}




/* Classroom */

@media screen and (min-width: 147px) {
  
  .classypic {
    
    width: 100%;
    
  } 
}
/* portfolio section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #800;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 98%;
    background-color: rgba(0, 0, 0, .8);
  background-size: cover;
    opacity: 0;
    border-right: 4px double #800;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #800;
    padding: 5px 20px;
    border-radius: 25px;
    color: #000;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}



.portfoliophotos {
  
  width: 650px;
  height: 400px;

  
  }
  
  .videostaken {
    
    width: 100%;
    height: 400px;
 
    
  }



/* FOOTER
==================================================*/

footer {
   width: 100%;
  list-style: none;
    background-color: #e6e6e6;
    background: -webkit-linear-gradient(white,#e6e6e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #e6e6e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #e6e6e6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #e6e6e6);
}

.Bottomcontainer {
  
  color: black;
  width: 100%;
  background-color: #800;
  border-top: .5em solid #cc0000;
  margin:0;
}

.Bottomcontainer a {
  color: #000;  
}

.Bottomcontainer a:hover {
  
  
  background: #fff;
  text-decoration: none;
  opacity: 1;
  border: 2px solid #000;
}


.copyright {
  
    color: black;
    margin-top: 2%;
 
    width: 100%;
    text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}



footer a  {
  color: #800;

}

u {
  
  text-decoration: underline #000;

  
}


hr {
  
  
  border-top: 3px double #888;
  
}
@media screen and (min-width: 147px) and (max-width: 768px) {
	
	.container {
		width: 100%;
		max-width: 1150px;
	}
.container h3 {
  color: #000;
  
}

  li {
  
  list-style-type: none;
  font-size: 1.2em;
}

li a:hover {
  
  color: #800;
  
}
  .column-left
  { 
  
    width: 100%; 
    text-align: center;
    color: #000;
    margin-top: 1%;
    font-size: 18px;
  }
.column-right{ 
    display:inline;

    width: 100%; 
   text-align: center;
    font-size: 16px;
    margin-top: 2%;
    
  }
.column-center{ 
    display: inline-block; 
    width: 100%; 
    text-align:center;
  }
  
  .column-left h3 {
    
    
    color: #000;
    text-align: center;
    
  }
  
  .imginfoot {
        height: 200px;
    width: 80%;
    margin-left: 9%;
  }
  

}

@media screen and (min-width: 769px) {
	
	.container {
		width: 100%;
		max-width: 1150px;
	}
.container h3 {
  color: #000;
  
}

  li {
  
  list-style-type: none;
  font-size: 1.2em;
}

li a:hover {
  
  color: #800;
  
}
  .column-left
  { 
    float: left; 
    width: 20%; 

    color: #000;
    margin-top: 1%;
    font-size: 16px;

  }
.column-right{ 
    display: inline-block;
    padding-left: 1%;
    width: 35%; 
    
    font-size: 16px;
    margin-top: 2%;
    
  }
  .imginfoot {
    width: 90%;
    height: 100%;
    margin-left: 9%;
  } 
  
.column-center{ 
    display: inline-block; 
 
    margin-top: 2%;
  }
  
  .column-left h3 {
    
    
    color: #000;
    text-align: center;
    
  }
  

}

@media screen and (min-width: 769px) {
  
  .column-left
  { 
   
    width: 25%; 
    
    color: #000;
    margin-top: 2%;
    font-size: 16px;

  }
.column-right{ 
    width: 25%; 
    float: none;
    font-size: 16px;
    margin-top: 2%;
    
  }
  
  
.column-center{ 
  vertical-align: top;
    width: 45%;
  } 
  
  .column-left h3 {
    
   text-indent: 13%;
    color: #000;
    text-align: left;
    
  }  
}
.column-center h3 {
    
   text-indent: 9%;
    color: #000;
    text-align: center;
    
  }  
.column-right h3 {
    
    
    color: #000;
    
    
  }
#connections4us {
  
  font-size: 20px;
  font-family: sans-serif;
  
  
}
@media screen and (min-width: 147px) {

  .THETOPIC {
    
    margin-top: 2%;
    
  }
  .THETOPIC p {
    
    font-size: 1.45em;   
    text-indent: 2%;
    padding-left: 1%;
  }
  
  .THETOPIC h3 {
    
    color: #000;
    text-align: center;
  }
  
  .THETOPIC a:hover {
  
    color: #800;
  } 
    .Testimonials li {
    font-size-adjust: 1.5em;
    margin-left: 2%;
    padding-bottom: 1%;
    display: inline-flex;

  }

  .Testimonials h3 {
    
    color: #000;
    
  }
  .testimage {
    

    border: 2px solid black;
  }
  .imgforming {
    
  width: 100%;
    
  }
  .footcons li {
  display: inline-block;
}
  .footcons img {
    
    
    height: 30px;
    width: 30px;
    border-radius: 15%;
  }
  
  .footcons a:hover {
    
    border: none;
    
    background:none;
    opacity: 0.6;
  }
}


u {
  
 text-decoration: underline 2px solid #000; 
  
}
.topich3 {
  line-height: normal;
}


/* About page
==================================================*/

.top-bar {
    color: #333;
    padding: 150px 0 0 0;
    background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/01.jpg);
    background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
  margin: 0;
}

.top-bar h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    line-height: 50px;
    margin: 0;
}

@media screen and (min-width:1019px) {
  
  .top-bar h1 {
    
 margin-top: 3%;   
  }
}

.top-bar p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}


.social-ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.social-ul li {
    margin: 0 10px;
    float: left;
}

.social-ul li a {
    font-size: 25px;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #888;
}

#lanejpg {
  float: right;
  width: 25%;
  height: 25%;
  margin-top: 10%;
}

.aboutparagraph {
  
font-size: 1.2em;  
  
}

body .alaskaimg {
  width: 100%;
  margin: 0;
  padding: 0;
}

  
/** HISTORY PAGE */
.historysize {
  
  width: 98.5%;
}
.calimed {

  width: 208px;
}
@media screen and (max-width: 568px) {
.historypics img {
  margin-left: 15%;
}
}

/* contact page
==================================================*/
.contactforming {
 border: 5px solid #000;
  width: 100%;
}

@media screen and (min-width: 720px) {
  
  .contactforming {
      margin-top: 5%;
  margin-bottom: 5%;
    width: 80%;
    margin-left: 8%;
  }  
}
.contactforming th {
 
  text-align: center;
  font-size-adjust: 1.5em;
  border: 2px double #000;
  background-color: #800;
}

.contactforming td {  
  
   background-color: #ffb3b3;
   text-align: center;
   font-size-adjust: .6em;
   border: 4px double #000;
}

.contactforming caption {
  
  border: 5px solid #000;
  font-size: 1.5em;
  color: #000;
  text-align: center;
  background-color: #800;
}

.contactforming a {
  
 color: #800; 
}

.contactforming a:hover {
  
  color: #fff;
  
}
.details-text i {
    margin-right: 10px;
}



.contact-info {
    margin-top: 20px;
}

.contact-info i {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #800;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
}

.contact-info p {
    display: inline-block;
    margin-right: 20px;
}



.contactinglink a {
  color: #800
  
}

.contactinglink a:hover {
  
  color: #000;
}


#submitit {
  
  background-color: #800;
  font-size: 1.5em;
  border: 4px solid #000;
  margin-top: 10px;
}
/*
==================================================*/

.cat-ul {
    padding-left: 0;
    list-style: none
}

.cat-ul li i {
    margin-right: 10px;
    color: #800;
}


/* Responsive media queries
==================================================*/

@media screen and (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }
    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
}



/* SCORES */

.scorestable {
  
  border: 5px solid #000;
  width: 100%;
  
}

.scorestable th {
 
  text-align: center;
  font-size-adjust: 1.5em;
  border: 2px double #000;
  background-color: #800;
}

.scorestable td {  
  
   background-color: #ffb3b3;
   text-align: center;
   font-size-adjust: 1em;
   border: 4px double #000;
}

.scorestable caption {
  
  border: 5px solid #000;
  font-size: 2.25em;
  color: #000;
  text-align: center;
  background-color: #800;
}

.scoresp {
  
  font-size: 1.5em;
  color: #000;
}


/*****************


FAQs


******************/


.faqsforad {
  
 margin-left: 10%;
 text-align: left;
 margin-right: 10%;
}

.faqsforad dt {
  
  background-color: #ffb3b3;
  font-size: 2em;
  border-radius: 5%;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  margin-top: 10px;
}

.faqsforad p {
  font-size: 1.5em;
  
}

.faqsforad li {
  
  list-style-type: upper-roman;
 font-size: 1.5em; 
  
}

.faqsforad a  {
  
  color: #800;
  text-decoration: none;
  
}



/**** SCHOOL ***/


@media screen and (min-width: 147px) {
.iconsformedia img {
  
    width: 50px;
    height: 50px;
    border-radius: 25%;
    padding: 10px;
    display: inline-block;
  
  }
  
  .iconsformedia a:hover {
    
    opacity: .6;
  }
  
}

/* CONTENT BORDER */

.contentborder {
  background-color: #d9d9d9;
  border-top: 5px solid #800;
  border-bottom: 5px solid #800;
  border-right: 20px ridge #800;
  border-left: 20px ridge #800;
  
}


/** NAV **/


#primary_nav_wrap
{

    font-size: 20px;
    margin-left: 10%;
   margin-bottom: 5%;
  
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
  
}

#primary_nav_wrap ul a
{
	display:block;
	color:#000;
	text-decoration:none;
	font-weight:700;
	font-size-adjust: auto;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
 
}


  


#primary_nav_wrap ul li
{
	position:relative;
	float:left;
  margin-right: 1%;
}
@media screen and (min-width: 1281px) and (max-width: 1799px) {
  
  #primary_nav_wrap ul li {
    margin-right: 3%;
  }
  
}

@media screen and (min-width: 1800px) {
  
  
  #primary_nav_wrap ul li {
  margin-right:4%;
  }
  
  
  #primary_nav_wrap ul li a:hover {
    
    background-color: #fff;
    
  }
}
.current-menu-item
{
  background-color: white;
  color: #800;
  
}

.current-menu-item2{
  
  	background:#ccc;
    color: #800;
  
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0;
  background-color: white;
  width: 100%;
}
  #primary_nav_wrap ul ul a {
  font-size: 15px;
  width: 100%;
}
#primary_nav_wrap ul ul a:hover {
  
   color: #800;
    background-color: #e6e6e6;
  padding: 5px;
  text-align: center;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}








